$color-accent: #007A5C;

#github_daggy_href {
  color: $color-accent !important;
}

body {
  padding-top: 50px;
  opacity: 1;
}

.fg-accent {
  color: $color-accent;
}

ul .d-menu {
  li {
    background-color: black;
    color: white;
  }
}

#windows_install {
  border-width: 0px;

  li {
    border-width: 0px;
  }
}
#install_content {
  margin-top: 112px;
  min-width: 400px;
}

.command-button {
  text-decoration: none;
}

#install_buttons {
  min-width: 300px;
}

#jetbrains_logo {
  max-height: 200px;
}

