<a href="#daggy" class="command-button fg-white">
  <span class="mif-download icon"></span>
  <span class="caption">
                  Download and Install
                  <small>Install Daggy for your OS</small>
                </span>
</a>