<a class="command-button fg-white" href="https://docs.daggy.dev/getting-started#getting-daggy">
  <span class="mif-download icon"></span>
  <span class="caption">
                        Download and Install
                        <small>And getting started with Daggy</small>
      </span>
</a>