<a href="https://github.com/synacker/daggy/releases/tag/2.1.2" class="command-button fg-white" target="_blank">
  <span class="mif-download icon"></span>
  <span class="caption">
      v2.1.2
      <small><span class="mif-linux"> <span class="mif-windows"> <span class="mif-apple"></span></small>
  </span>
</a>