---
title: Daggy - Data Aggregation Utility
description: Open source, free, cross-platform, server-less and useful utility for remote or local data aggregation and streaming
tags: data aggregation, data aggregation config, data aggregation snippets, runtime, data streaming, command line, open source, free, server-less, software, tool, utility, application
data_structures: >
  <script type="application/ld+json">

  {
    "@context": "http://schema.org/",
    "@type": "Organization",
    "url": "https://daggy.dev/",
    "name": "Daggy - Data Aggregation Utility",
    "logo": "https://daggy.dev/daggy_logo.png",
    "sameAs": [
    "https://github.com/synacker/daggy",
    "https://twitter.com/synacker"
    ]
  }

  </script>

  <script type="application/ld+json">

  {
    "@context": "https://schema.org",
    "@type": "SoftwareApplication",
    "name": "Daggy",
    "operatingSystem": "Windows, MacOS, Linux",
    "applicationCategory": "https://schema.org/UtilitiesApplication"
  }

  </script>
---


<div class="hero hero-bg text-center" id="daggy">
  <img src="images/daggy_logo.svg" height="200px">
  <div class="display4 fg-white"><span class="reduce-3 enlarge-3-md">DAGGY</span></div>

  <h4 class="text-center fg-white text-upper text-bold"><%= current_page.data.title %><span class="d-none-md1"><br></span>
  </h4>
  <h5>Data aggregation and streaming</h5>
  <p class="fg-white">Download and install v<span class="version-number text-bold">2.0.1</span></p>
  <div class="d-flex flex-justify-center">
    <ul id="install_buttons" class="app-bar-present pos-absolute no-border bg-black cell-6 offset-3"
        data-fixed-tabs="true"
        data-role="materialtabs"
        data-cls-marker="bg-transparent">
      <li id="windows_tab">
        <a class="bg-black" href="#install_windows"><span class="mif-windows mif-5x fg-accent"></span></a>
      </li>
      <li id="linux_tab">
        <a class="bg-black" href="#install_linux"><span class="mif-linux mif-5x fg-accent"></span></a>
      </li>
      <li id="macos_tab">
        <a class="bg-black" href="#install_macos"><span class="mif-apple mif-5x fg-accent"></span></a>
      </li>
    </ul>
    <div id="install_content" class="p-5">
      <div class="fg-white" id="install_windows">
        <ul id="windows_install" class="group-list">
          <li>
            <a href="https://github.com/synacker/daggy/releases/download/2.0.1/daggy-win64-2.0.1.0.exe" class="command-button fg-white" download>
              <span class="mif-download icon"></span>
              <span class="caption">
                  Daggy Installer
                  <small>Windows x64</small>
                </span>
            </a>
          </li>
          <li>
            <a href="https://github.com/synacker/daggy/releases/download/2.0.1/daggy-win64-2.0.1.0.zip" class="command-button fg-white" download>
              <span class="mif-download icon"></span>
              <span class="caption">
                  Daggy Portable
                  <small>Windows x64</small>
                </span>
            </a>
          </li>
        </ul>
      </div>
      <div class="fg-white grid" id="install_linux">
        <div class="row">
          <ul id="windows_install" class="group-list cell">
            <li class="border-none">
              <a href="https://github.com/synacker/daggy/releases/download/2.0.1/daggy-linux64-2.0.1.0.deb" class="command-button fg-white" download>
                <span class="mif-download icon"></span>
                <span class="caption">
                  DEB
                  <small>debian package</small>
                </span>
              </a>
            </li>
            <li>
              <a href="https://github.com/synacker/daggy/releases/download/2.0.1/daggy-linux64-2.0.1.0.rpm" class="command-button fg-white" download>
                <span class="mif-download icon"></span>
                <span class="caption">
                  RPM
                  <small>rpm package</small>
                </span>
              </a>
            </li>
            <li>
              <a href="https://github.com/synacker/daggy/releases/download/2.0.1/daggy-linux64-2.0.1.0.zip" class="command-button fg-white" download>
                <span class="mif-download icon"></span>
                <span class="caption">
                  Portable
                  <small>portable package</small>
                </span>
              </a>
            </li>
          </ul>
          <div class="cell" data-one-frame="true" data-show-active="true">
            <div class="frame">
              <div class="heading">Fedora 30/31/32</div>
              <div class="content p-5">
                <button class="button square rounded copy-button" data-clipboard-target="#fedora_install" title="Copy">
                  <span class="mif-copy"></span>
                </button>
                <code id="fedora_install" class="bg-black">
                  sudo dnf install daggy daggy-devel
                </code>
              </div>
            </div>
            <div class="frame">
              <div class="heading">Build from source</div>
              <div class="content p-5">
                <a href="https://docs.daggy.dev/getting-started#build-from-source" class="command-button fg-white">
                  <span class="mif-help icon"></span>
                  <span class="caption">
                  Read build instruction
                  <small>Compile Daggy from source</small>
                </span>
                </a>
              </div>
            </div>
          </div>
        </div>


      </div>
      <div class="fg-white cell-12" id="install_macos">
        <button class="button square rounded copy-button" data-clipboard-target="#brew_install" title="Copy">
          <span class="mif-copy"></span>
        </button>
        <code id="brew_install" class="bg-black">
          brew install https://git.io/fj9PX
        </code>`
      </div>
    </div>
  </div>
  <div class="container-fluid text-center pt-10 pb-20" id="demo">
    <div class="h1"><span class="reduce-1 enlarge-1-md text-bold">Screencast Demo</span></div>
    <div class="embed-container size-16x9">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/oeNSwv9oYDc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>
<div class="container-fluid text-left pt-10 pb-20" id="features">
  <div class="container text-center">
    <div class="h1"><span class="reduce-1 enlarge-1-md text-bold">Features</span></div>
    <div class="row mt-12">
      <div class="cell-md-4 mt-4">
        <div><span class="mif-file-code mif-8x fg-accent"></span></div>
        <h4 class="fg-white mt-4 text-bold">Data Aggregation Config</h4>
        <p>
          <a href="https://docs.daggy.dev/data-aggregation-config">Create once, use many</a>
        </p>
      </div>
      <div class="cell-md-4 mt-4">
        <div><span class="mif-files-empty mif-8x fg-accent"></span></div>
        <h4 class="fg-white mt-4 text-bold">Data Aggregation Snippets</h4>
        <p>
          Take ready <a href="https://docs.daggy.dev/data-aggregation-snippets"><b>Data Aggregation Snippets</b></a> or
          <a href="https://docs.daggy.dev/data-aggregation-snippets">create own</a>
        </p>
      </div>
      <div class="cell-md-4 mt-4 ">
        <div><span class="mif-flow-line mif-8x fg-accent"></span></div>
        <h4 class="fg-white mt-4 text-bold">Data Aggregation Streams</h4>
        <p>
          <b>Data Aggregation Snippets</b> are streams at runtime
        </p>
      </div>
    </div>
    <div class="row mt-12">
      <div class="cell-md-4 mt-4">
        <div><span class="mif-flow-parallel mif-8x fg-accent"></span></div>
        <h4 class="fg-white mt-4 text-bold">Parallel Execution</h4>
        <p>
          All <b>Data Aggregation Snippets</b> are run and streams in parallel and simultaneously
        </p>
      </div>
      <div class="cell-md-4 mt-4">
        <div><span class="mif-database mif-8x fg-accent"></span></div>
        <h4 class="fg-white mt-4 text-bold">Data Aggregation Storage</h4>
        <p>
          Each <b>Data Aggregation Session</b> stored in separate local folder.
          Each <b>Data Aggregation Snippet</b> store in separate file.
        </p>
      </div>
      <div class="cell-md-4 mt-4">
        <div><span class="mif-server mif-8x fg-accent"></span></div>
        <h4 class="fg-white mt-4 text-bold">Local and Remote Data Aggregation</h4>
        <p>
          Aggregate data from local or via ssh connection
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid text-center pt-10 pb-20" id="howitworks">
  <div class="h1"><span class="reduce-1 enlarge-1-md text-bold">Work Schema</span></div>
  <div class="container mt-12">
    <div class="img-container bg-black" data-popover-text="How Daggy works">
      <a href="https://docs.daggy.dev/how-it-works"><img src="images/daggy_scheme.svg" alt="<%= data.general.images.how_daggy_works %>"></a>
    </div>
  </div>
  <div class="mt-5">
    <%= partial 'partials/install_button' %>
  </div>
</div>
<div class="container-fluid text-center pt-10 pb-20" id="thanks">
  <div class="h1"><span class="reduce-1 enlarge-1-md text-bold">Special Thanks To</span></div>
  <div class="container mt-12">
      <a href="https://www.jetbrains.com/?from=daggy"><img id="jetbrains_logo" src="images/jetbrains-logo.svg" alt="JetBrains"></a>
  </div>
</div>
